


body{
    background-color: rgb(218, 233, 237);
    font-family: 'Times New Roman', Times, serif;
}
.colorFondo{
    background-color: rgb(90, 99, 104);
}

.colorFondo2{
    background-color: rgb(90, 99, 104);
}

